.input{
background-color: #F6F7F8;
}

.headlineContianer{
    position: absolute;
    height:112px;
    top:80px;
}

.headlineInnerContainer{
    position: relative;
    width:214px;
    height:56px;
    top:48px;
    left:16px;
    gap:20px;
}

.headlineInputContainer{
    width:214px;
    height:56px;
    gap:1px;
}
.headline{
    width: 214px;
    height:56px;
    font-weight: 700;
    font-size: 47px;
}

.addTaskForm{
    position: absolute;
    width:90%;
    display: flex;
    flex-direction: column;
    top:224px;
    left:16px;
    height:760px;
    gap:16px;
}

.taskTitleContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:83px;
    gap:8px;
}

.taskTitleContainer span{
    font-weight: 400;
    font-size:16px;
    line-height: 19.2px;
}

.taskTitleInputContainer input{
    width:100%;
    border-radius:10px;
    height:40px;
    padding: 0;
    border:1px solid #D1D1D1;

}

.taskTitleInputContainer input::placeholder{
    color:#D1D1D1;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}

.red{
    color:#FF8190;
    font-weight: bold;
}

.taskDescriptionContainer{
    display: flex;
    flex-direction: column;
    gap:8px;
    width:100%;
}


.taskDescriptionContainer span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.taskDescriptionInputContainer input{
    height:88px;
    border-radius: 10px;
    width:100%;
    padding: 0;
    border:1px solid #D1D1D1;
}

.taskDescriptionInputContainer input::placeholder{
    position: absolute;
    color:#D1D1D1;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    padding-left: 16px;
    top:8px;
    text-align: left;
    vertical-align: top;
    padding-top: 8px;
}

.assignedTo{
    gap:8px;
    width:100%;
    display: flex;
    flex-direction: column;
}

.assignedToInput{
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    justify-content: space-between;
    width:100%;
    height:48px;
    padding: 0;
}

select{
    -webkit-appearance:none;
}

/* .placeholderClone{
    position: absolute;
    background-image: url('../assets/img/img/arrow_drop_down.png');
    background-size: cover;
    background-position: right;
    margin-left: 16px;
    padding-left: 16px;
} */

.custom-select{
    background-color: white;
    height:40px;
    width:100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
}

li{
    color:#D1D1D1;
    margin-left: 16px;
}

.placeholderClone{
    color:#D1D1D1;
    margin-left: 16px;
}

.options{
    display: none;
}








.assignedToInput option{
    color: #D1D1D1;
}

.dateCotainer{
    height:83px;
    display: flex;
    flex-direction: column;
}

.dateCotainer input{
    height:40px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    justify-content: space-between;
}

.dateCotainer input::placeholder{
    color:#D1D1D1;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}

.prioContainer{
    display: flex;
    flex-direction: column;
}

.prioChoose{
    display: flex;
    gap:16px;
}

.prioHigh{
    gap:8px;
    border-radius: 10px;
    height:40px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.prioHigh img{
    height:12px;
    width:20px;
}

.checkoutContainer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.addTaskButton{
    background-color: #2A3647;
    padding: 12px 32px;
    color:white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
}