.addTaskBigContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
}

.leftSideAddTaskPage, .rightSideAddTaskPage {
    width: 45%;
}

.headline{
    font-weight: 700;
    font-size: 47px;
    margin-left: 35px;
}

.addTaskForm{
    width:90%;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    border:1px solid #d1d1d1;
}


.wrapperList{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    list-style-type: none;
    overflow-y: auto;
    max-height: 200px;
    z-index: 1000;
    margin-top: 80px;
    box-sizing: border-box;
}

.wrapperContactList{
    width:100%;
    height:300px;
    background-color: #2A3647;
}


.contactWrapperItem{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contactNameContainer{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap:8px;
}

.imgContainer{
    position: absolute;
    top:30px;
    right:-26px; 
    width:50px;
    height:20px;
}

.imgContainerBackground{
    background-repeat: no-repeat;
    background-image: url("../assets/img/img/add.png");
    background-position: right 8px center;
}

.subTaskContainer{
    display: flex;
    flex-direction: column;
    height:20px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    width:100%;
}

.subtaskSettingContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.seperator{
    width:1px;
    border-left:1px solid #D1D1D1;
    height:20px;
}

.imgContainerSubtaskSubmit{
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-image: url("../assets/img/img/check.png");
    background-position: center;
    cursor: pointer;
}

.imgContainerSubtaskCancle{
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/img/img/close.png");
    cursor: pointer;
}

.openBorader{
    border-radius: 10px 10px 0px 0px;
}

.dNone{
    display: none;
}

.taskTitleContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
    margin-bottom: 15px;
}

.taskTitleContainer span{
    font-weight: 400;
    font-size:16px;
    line-height: 19.2px;
}

.taskTitleInputContainer input{
    width:100%;
    border-radius:10px;
    padding: 12px 16px 12px 16px;
    border:1px solid #D1D1D1;

}

.requiredInput:focus{
    outline: none;
    border: 1px solid #FF8190;
}

.taskTitleInputContainer input::placeholder{
    color:#D1D1D1;
    font-size: 16px;
    font-weight: 400;
}

.red{
    color:#FF8190;
    font-weight: bold;
}

.taskDescriptionContainer{
    display: flex;
    flex-direction: column;
    gap:8px;
    width:100%;
}


.taskDescriptionContainer span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.taskDescriptionInputContainer input{
    height:88px;
    padding: 18px 16px 18px 16px;
    border-radius: 10px;
    width:90%;
    border:1px solid #D1D1D1;
    vertical-align: top;
}

.textareaDescription{
    border-radius: 10px;
    border: none;
    height: 90px;
    border: 1px solid #D1D1D1;
    width: 90%;
    padding: 18px 16px 18px 16px;
    outline: none;
}

.taskDescriptionInputContainer .textareaDescription::placeholder{
    color:#D1D1D1;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    text-align: left;
    vertical-align: top;
    padding-top: 4px;
}

.assignedTo{
    gap:8px;
    width:100%;
    display: flex;
    flex-direction: column;
}

.assignedToInput{
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    justify-content: space-between;
    width:100%;
    height:48px;
    padding: 0;
}

.custom-select{
    background-color: white;
    height:40px;
    width:100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
}

.liCat{
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.list:hover{
    background-color: #d3d0d0;
}

.grayLineAddTaskPage{
    height: 425px;
    border: 1px solid #D1D1D1;
}

.placeholderClone{
    color:#D1D1D1;
    margin-left: 16px;
}

.options{
    display: none;
}

.assignedToInput option{
    color: #D1D1D1;
}

.dateCotainer{
    height:83px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.dateCotainer input{
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    width: 90%;
    border: 1px solid #D1D1D1;
    justify-content: space-between;
}

#date::placeholder{
    color:#D1D1D1;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}

.prioContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.prioChoose{
    display: flex;
    align-items: center;
    gap:16px;
}

.prio{
    gap:8px;
    border-radius: 10px;
    height:40px;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.checkoutContainer{
    position: fixed;
    bottom: 80px;
    display: flex;
    width:85%;
    justify-content: space-between;
    padding: 16px;
    gap:16px;
    align-items: center;
    background-color: #F6F7F8;
    border:none;
}

.assignedToContainer{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.addTaskButton{
    background-color: #2A3647;
    padding: 12px 28px;
    color:white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

.addTaskButton:hover{
    background-color: #29ABE2;
}

.lowPrioImg{
    background-image: url('../assets/img/img/priolow.png');
    width: 20px;
    height:14px;
}

.medPrioImg{
    background-image: url('../assets/img/img/prioMedium.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height:14px;
}

.highPrioImg{
    background-image: url('../assets/img/img/prioHigh.png');
    width: 20px;
    height:14px;
}


.high:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
}

.low:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
}


.med:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
}

.highPrioBackground{
    background-color: #FF3D00;
    color: white;
}

.highPrioImageChange{
    background-image: url("../assets/img/img/prioHighHighlight.png");
}

.medPrioBackground{
    background-color: #FFA800;
    color: white;
}

.medPrioImageChange{
    background-image: url("../assets/img/img/prioMediumHighlight.png");
}

.lowPrioBackground{
    background-color: #7AE229;
    color: white;
}

.lowPrioImageChange{
    background-image: url("../assets/img/img/prioLowHighlight.png");
}

#subtaskInput{
    background-repeat: no-repeat;
    background-image: url(../assets/img/img/add.png);
    background-position: right 8px center;
}

@media (max-width : 480px) {
    .addTaskBigContainer {
        flex-direction: column;
    }
    .grayLineAddTaskPage {
        display: none;
    }
    .leftSideAddTaskPage{
        width: 100%; 
    }
    .addTaskForm{
        width: 100%;
    }
}

@media (min-width : 480px) {
    .checkoutContainer{
        display: none;
    }    
}