form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  max-width: 981px;
}

form .upper {
  display: flex;
  /*gap: 50px;*/
  flex-wrap: wrap;
  justify-content: space-between;
}

form .lower {
  display: flex;
  justify-content: space-between;
}

form .red {
  color: #ff8190;
}

form h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 0px;
}

form .formVertLine {
  border-left: 1px solid #d1d1d1;
  height: 424px;
}

form input,
form textarea,
form select {
  width: 440px;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
}

form input {
  height: 48px;
}

form textarea {
  height: 120px;
}

/* SELECT CONTACTS */

.multiselect {
  width: 440px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  flex-direction: column;
  height: 100px;
  

}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#checkboxes input {
  width: auto;
}

.contactEntry {
    display: flex;
    align-items: center;
    justify-content: space-between;
}