.fullInput {
  left: 16px;
  /*position: absolute; edit christoph!*/
  top: 128px;
  width: 90%;
  height: 2000px;
}

.headlineContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.headline {
  width: 214px;
  height: 56px;
  font-weight: 700;
  font-size: 47px;
}

.addButton {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.addButtonBig {
  height: 40px;
  width: 40px;
  color: white;
  padding: 3px;
  background-color: #2a3647;
}

.addButtonSmall {
  border: 2px solid #2a3647;
  height: 30px;
  width: 30px;
  background-image: url("./assets/img/img/plusImg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.progressInformationContainer {
  margin-top: 56px;
  margin-bottom: 140px;
}

.emptyPlaceholder {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 10px;
  height: 48px;
  border: 1px dotted #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;
}

.imgContainer {
  position: absolute;
  top: 12px;
  right: -16px;
  width: 30px;
  height: 20px;
}

.taskTitleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.taskTitleInputContainer input {
  width: 100%;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid #d1d1d1;
}

.seperator {
  width: 1px;
  border-left: 1px solid #d1d1d1;
  height: 20px;
}

.subtaskSettingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.imgContainerSearch {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("./assets/img/img/search.png");
  background-position: center;
  cursor: pointer;
}

.boardCard {
  display: flex;
  flex-direction: column;
  width: 252px;
  border-radius: 24px;
  padding: 16px;
  background-color: white;
  gap: 12px;
  box-shadow: 0px 0px 10px 3px #00000014;
}

.boardType {
  background-color: #0038ff;
  color: white;
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.boardTitle {
  font-weight: bold;
}

/*
.boardDescription {
}
*/

.progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progressBackground {
  width: 50%;
  height: 10px;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}

.progressbar {
  width: 50%;
  height: 10px;
}

.boardTaskContacts {
  display: flex;
}

.boardTaskFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
