/* The Modal (background) */
#modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* DESKTOP VIEW */
#modalAddOrEditContact {
  display: flex;
  flex-direction: row;
  margin: 80px 10px;
  position: relative;
  animation-name: slideInFromRightDesktop;
  animation-duration: 0.5s;
  width: 80vw;
  height: 592px;
  margin: 120px auto;
  display: flex;
  align-items: stretch;
  background-color: white;
  border-radius: 30px;
}

#modalAddOrEditContact .first {
  display: flex;
  flex: 0.9;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  width: 553px;
  border-radius: 30px 0px 0px 30px;
  padding: 20px;
}

#modalAddOrEditContact .first span {
  display: none;
}

#modalAddOrEditContact .first img {
  width: 53.93px;
  height: 66.48px;
}

#modalAddOrEditContact .headline {
  font-weight: 700;
  font-size: 61px;
}

#modalAddOrEditContact .subheadline {
  font-weight: 400;
  font-size: 27px;
}

#modalAddOrEditContact .second {
  display: flex;
  align-items: center;
  padding: 20px;
}

#modalAddOrEditContact .third {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

#modalAddOrEditContact .third span {
  align-self: flex-end;
  flex: 1;
  cursor: pointer;
}

#modalAddOrEditContact .third form {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 20px;
  flex: 2;
  height: 215px;
}

.nameInput {
  background: url("../assets/img/person_small.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.mailInput {
  background: url("../assets/img/mail.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.phoneInput {
  background: url("../assets/img/call.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

/* Add Animation */
@keyframes slideInFromBottom {
  from {
    bottom: -500px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes slideInFromRightDesktop {
  from {
    right: -2000px;
  }
  to {
    right: 0px;
  }
}

/* MOBILE */
@media (max-width: 620px) {
  #modalAddOrEditContact {
    flex-direction: column;
    animation-name: slideInFromBottom;
  }
}
