.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #ff7a00;
    color: white;
    border-radius: 80px;
    font-size: 27px !important;
    font-weight: 400 !important;
    box-shadow: 0px 0px 4px 0px #0000001a;
    border: 3px solid #ffffff;
    box-sizing: border-box;
  }

  .initSmall {
    width: 42px;
    height: 42px;
    font-size: 12px !important;
  }
  