/* CONTACTS PAGE */
body {
  grid-template-areas:
    "sidebar  header header"
    "sidebar  list   content";

  grid-template-columns: 232px 453px auto;
}

list {
  grid-area: list;
  overflow-y: scroll;
}

content {
  overflow-y: hidden;
}

#contactSingleViewMobile {
  display: none;
}

#contactContainerOuter {
  /*width: 456px;*/
  display: flex;
  justify-content: center;
}

#addContactButton {
  width: 352px;
  height: 56px;
  margin: 12px 0px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  font-size: 21px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.singleContactContainer {
  position: relative;
  right: 0px;
  background-color: #f6f7f8;
  /*height: 80vh;*/
  padding: 8px 0px 0px 46px;
  animation-name: slideInFromRightDesktop;
  animation-duration: 0.5s;
}

.singleContactContainerMobile {
  background-color: #f6f7f8;
  height: 80vh;
  padding: 48px 16px 0px 16px;
}

.singleContactContainer .initials {
  height: 120px;
  width: 120px;
  font-size: 47px !important;
  font-weight: 500 !important;
}

.singleContactContainer .editdelete {
  margin-left: 64px;
  gap: 16px;
}

.singleContactContainer .editdelete a {
  gap: 8px;
}

.singleContactContainer h2 {
  /*USER NAME */
  font-size: 47px;
  font-weight: 500;
  margin: 0px 0px 16px 54px;
}

content .headline {
  margin-left: 58px;
  gap: 30px;
}

content .headline h1 {
  font-weight: 700;
  font-size: 61px;
  border-right: 3px solid #29abe2;
  padding-right: 30px;
  margin: 0;
}

content .headline h2 {
  font-weight: 400;
  font-size: 27px;
}

.upperHalf h2 {
  font-size: 47px;
  font-weight: 700;
  margin: 30px 0px 8px 0px;
}

.singleContactContainer h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 8px 0px;
}

.upperHalf h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 8px 0px;
}

.singleContactContainer h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}

.contactsHeadline {
  display: flex;
  justify-content: space-between;
}

.contactsHeadlineBox hr {
  /*border: 2px solid #29abe2;
  width: 50%;
  text-align: left;*/
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

.singleContact {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 8px;
}

.singleContact img {
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
}

.singleContact span {
  font-size: 36px;
  font-weight: 700;
}

.contactInfos span {
  font-size: 16px;
  font-weight: 400;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: #ff7a00;
  color: white;
  border-radius: 80px;
  font-size: 27px !important;
  font-weight: 400 !important;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.emailAdress {
  color: #007cee;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.phoneNumber {
  text-decoration: none;
  color: black;
}

.moreButton,
#moreButton {
  display: none;
  position: fixed;
  cursor: pointer;
  bottom: 100px;
  right: 16px;
}

.infoItem {
  margin-top: 21px;
  font-size: 16px;
}

.innerContactEntry {
  display: flex;
  gap: 35px;
  padding: 8px 20px;
  align-items: center;
  font-size: 20px;
  height: 78px;
  box-sizing: border-box;
}

.nameAndAdress {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.initSmall {
  width: 42px;
  height: 42px;
  font-size: 12px !important;
}

#contactContainer {
  padding: 10px 40px;
  margin-bottom: 80px;
}

.upperHalf hr {
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

#contactContainer hr {
  /*border: 2px solid #29abe2;
  width: 50%;
  text-align: left;*/
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

.contactEntry {
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.lowerHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0px 16px;
  border-radius: 0px 0px 20px 20px;
  gap: 15px;
  height: 350px;
}

.newContactPic {
  background-color: #d1d1d1;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-top: -60px;
  border: 3px solid #ffffff;
}

.upperHalf {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  padding: 14px 24px;
  color: white;
  border-radius: 20px 20px 0px 0px;
  height: 250px;
}

.nameInput {
  background: url("../assets/img/person_small.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.mailInput {
  background: url("../assets/img/mail.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.phoneInput {
  background: url("../assets/img/call.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
  background-origin: content-box;
}

.lowerHalf form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.lowerHalf input {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 5px 13px;
  width: 364px;
}

/* The Modal (background) */
#modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
#modalAddContact {
  display: none;
  margin: 80px 10px;
  position: relative;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

/* Modal Content */
#modalEditContact {
  display: none;
  margin: 80px 10px;
  position: relative;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

/* Add Animation */
@keyframes slideIn {
  from {
    bottom: -500px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

#moreButtonPopup {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff;
  width: 100px;
  height: 100px;
  padding: 0px 0px 0px 15px;
  gap: 10px;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: fixed;
  bottom: 100px;
  right: 20px;
  animation-name: slideInFromRight;
  animation-duration: 0.5s;
}

#moreButtonPopup a {
  display: flex;
  gap: 8px;
}

@keyframes slideInFromRightDesktop {
  from {
    right: -2000px;
    opacity: 0;
  }
  to {
    /*right: 20px;*/
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

#moreButtonPopup a {
  cursor: pointer;
}

#editInitials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  color: white;
  border-radius: 180px;
  font-size: 27px !important;
  font-weight: 400 !important;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  margin-top: -40px;
}

#editInitialsDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  color: white;
  border-radius: 180px;
  font-size: 47px !important;
  font-weight: 500 !important;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.seperatorLetter {
  border-bottom: 1px solid #d1d1d1;
  font-size: 20px;
  height: 58px;
  padding: 17px 36px 17px 36px;
  box-sizing: border-box;
}

#createContactButton {
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 51px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
  border: none;
}

.upperHalf span {
  text-align: right;
  font-size: xx-large;
  cursor: pointer;
}

a {
  cursor: pointer;
}

#editContactSaveButton {
  width: 99px;
  height: 51px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #2a3647;
  padding: 18px, 10px, 18px, 10px;
  border-radius: 18px;
  cursor: pointer;
}

#editContactDeleteButton {
  width: 82px;
  height: 51px;
  background-color: white;
  border: 1px solid #2a3647;
  color: #2a3647;
  border-radius: 10px;
  padding: 18px, 10px, 18px, 10px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.buttonPair {
  display: flex;
  gap: 20px;
}

.active {
  background-color: #2a3647 !important;
  color: white;
}

.editdelete a {
  display: flex;
  align-items: center;
  color: #2a3647;
  font-size: 16px;
  font-weight: 400;
}

.editdelete a:hover svg path {
  fill: #29abe2;
}

.editdelete a:hover {
  color: #29abe2;
  font-size: 16px;
  font-weight: 700;
}

.editdelete img {
  border: none;
  box-shadow: none;
}

.editdelete img:hover {
  color: #29abe2;
  filter: grayscale(0.2);
}

.editdelete {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

nav a:hover {
  background-color: #091931;
}

#modalEditContactDesktop {
  width: 80vw;
  height: 592px;
  margin: 120px auto;
  display: flex;
  align-items: stretch;
  background-color: white;
  border-radius: 30px;

}

#modalEditContactDesktop .leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #2A3647;
  color: white;
  width: 553px;
  border-radius: 30px 0px 0px 30px;
}

#modalEditContactDesktop h1 {
font-weight: 700;
font-size: 61px;
}

@media (max-width: 620px) {
  body {
    grid-template-areas:
      "mobile-header"
      "list"
      "mobile-footer";
    grid-template-columns: auto;
  }

  header,
  sidebar,
  content {
    display: none;
  }

  mobile-footer {
    grid-area: footer;
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #2a3647;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  mobile-footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #cdcdcd;
    font-weight: 400;
    font-size: 14px;
    height: 80px;
    width: 76px;
    border-radius: 16px;
  }

  mobile-footer a:hover {
    background-color: #091931;
  }

  mobile-footer a img {
    width: 24px;
    height: 24px;
  }

  mobile-header {
    grid-area: mobile-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    padding: 20px 16px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001a;
  }

  #addContactButton {
    display: none;
  }

  #contactSingleViewMobile {
    display: block;
  }

  #moreButton {
    display: block;
  }

  .moreButton {
    display: fixed;
  }
}
