/* DESKTOP VIEW */
#modalAddContact,
#modalEditContact {
  display: flex;
  flex-direction: row;
}

@media (max-width: 620px) {
  #modalAddContact,
  #modalEditContact {
    flex-direction: column;
  }
}
