@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway/Raleway-Black.ttf') 
}

body {
    margin: 0px;
    background-color: #F6F7F8;
}

.inputContainer{
    background-color: #F6F7F8;
}

.icon{
    position: absolute;
    left: 65px;
    top: 64px;
    width: 100px;
    height: 121px;
    z-index: 1;
}



header{
    background-color: #ffffff;
    width: 100%;
}

.headerInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:96px;
    padding:0px 10px 0px 10px;
    
}

.sidePanel {
    position: absolute;
    left: 0;
    background-color: #2A3647;
    height: 100vh;
    width: 232px;
}


.footerInput{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:80px;
    align-items: center;
    justify-content: space-between;
    background-color: #2A3647;
    color: white;
}



.menuOption{
    display: flex;
    height:76px;
    width:76px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4px;
    border-radius: 16px;
}

.addTaskImg{
    background-image: url(../assets/img/img/addTask.png);
}

.summaryImg{
    background-image: url(../assets/img/img/summary.png);
}

.boardImg{
    background-image: url(../assets/img/img/board.png);
}

.contactsImg{
    background-image: url(../assets/img/img/contacts.png);
}

.footerImgContainer{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.summary:hover .summaryImg{
    background-image: url(../assets/img/img/summaryHighlight.png);
}

.board:hover .boardImg{
    background-image: url(../assets/img/img/boardHighlight.png);
}

.addTask:hover .addTaskImg{
    background-image: url(../assets/img/img/addTaskHighlight.png);
}

.contacts:hover .contactsImg{
    background-image: url(../assets/img/img/contactHighlight.png);
}

.menuOption:hover{
    border-radius: 16px;
    background-color: #091931;
}
