
/* Summary */

.join360HeadlineSummaryContainerDesk {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.summaryBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsSummary {
  height: 40px;
  width: 40px;
  background-size: cover;
}

.numbersSummary {
  font-size: 50px;
  font-weight: 600;
}

.textSummary {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  white-space: normal;
}

.textSummaryUrgentDate {
  font-weight: 700;
  margin: 0;
  font-size: 17px;
}

.numberAndTextBoxSummary {
  text-align: center;
}

.join360HeadlineSummary {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  padding-left: 20px;
}

.secondHeadlineSummary {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  padding-left: 20px;
}

.secondHeadlineSummaryDesk {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.underlineSecondHeadlineSummary {
  text-decoration: underline;
  text-decoration-color: rgba(41, 171, 226, 1);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  margin-top: 10px;
  text-underline-offset: 20px;
}

.iconPencil {
  background-image: url(./assets/img/pencil.png);
}

.boxMediumSummary:hover .iconPencil {
  background-image: url(/assets/img/pencilDark.png);
  background-repeat: no-repeat;
}

.iconCheck {
  background-image: url(/assets/img/check.png);
}

.boxMediumSummary:hover .iconCheck {
  background-image: url(/assets/img/checkDark.png);
  background-repeat: no-repeat;
}

.iconArrows {
  background-image: url(./assets/img/arrowsRed.png);
}

.boxUrgent:hover .iconArrows {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
}

/* erste Reihe */

.firstRowSummaryBoxes {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
}

.boxMediumSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 20px;
  height: 110px;
  width: 190px;
  gap: 10px;
  background-color: white;
  transition: 0.3s ease;
}

.boxMediumSummary:hover {
  background-color: #2a3747;
  color: white;
  transform: scale(1.05);
  z-index: 10;
}

/* zweite Reihe */

.secondRowSummaryBoxes {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.boxUrgent {
  width: 400px;
  height: 110px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.3s ease;
}

.boxUrgent:hover {
  background-color: #2a3747;
  color: white;
  transform: scale(1.05);
  z-index: 10;
}

.greyLineUrgentBox {
  height: 70px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.blueLineUrgentBox {
  height: 60px;
  border: 1px solid rgba(41, 171, 226, 1);
}

/* dritte Reihe */

.thirdRowSummaryBoxes {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.boxSmallSummary {
  height: 120px;
  width: 120px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.3s ease;
}

.boxSmallSummary:hover {
  background-color: #2a3747;
  color: white;
  transform: scale(1.05);
  z-index: 10;
}

/* Welcome Screen Desk-Version*/

.welcomeScreenSummaryDeskVersion {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}

.welcomeScreenSummaryDeskVersionHeadline {
  font-size: 60px;
  font-weight: 500;
  color: rgba(42, 54, 71, 1);
  margin: 0;
}
