/* CHRISTOPH */

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Inter";
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 16px;
  background-color: white;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

header img {
  max-height: 40px;
}

.singleContactContainer {
  background-color: #f6f7f8;
  padding: 48px 16px 0px 16px;
}

.singleContactContainer h2 {
  font-size: 47px;
  font-weight: 700;
  margin: 0px;
}

.singleContactContainer h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}

.contactsHeadline {
  display: flex;
  justify-content: space-between;
}

.contactsHeadlineBox hr {
  /*border: 2px solid #29abe2;
  width: 50%;
  text-align: left;*/
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

.singleContact {
  display: flex;
  align-items: center;
}

.singleContact span {
  font-size: 36px;
  font-weight: 700;
}

.emailAdress {
  color: #007cee;
  font-weight: 400;
  font-size: 16px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 80px;
  background-color: #2a3647;
  display: flex;
  /*width: 100%;*/
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
}
