body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "sidebar  header header"
    "sidebar  list   content";
  grid-template-columns: 232px 456px auto;
  justify-items: stretch;
  overflow-y: hidden;
  height: 100vh;
}

sidebar {
  grid-area: sidebar;
  padding: 64px 0px 64px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a3647;
  width: 232px;
  height: 100vh;
}

nav {
  justify-content: center;
  padding-top: 100px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

nav img {
  width: 25px;
  height: 25px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #cdcdcd;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 63px;
}

.sidebarLinks {
  display: flex;
  padding-top: 220px;
  flex-direction: column;
  gap: 8px;
}

.sidebarLinks a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
  transition: transform 0.05s; /* Animation */
  padding: 8px 63px;
}

.sidebarLinks a:hover {
  color: #29abe2;
  /*font-size: 16px;
  font-weight: 700;*/
  transform: scale(1.05);
}

header {
  grid-area: header;
  padding-left: 100px;
  padding-right: 50px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px #0000001a;
  font-size: 20px;
  font-weight: 400;
}

header .headerImages {
  display: flex;
  gap: 16px;
  align-items: center;
}

list {
  grid-area: list;
  overflow-y: scroll;
}

content {
  grid-area: content;
  background-color: #f6f7f8;
}

content h1 {
  font-weight: 700;
  font-size: 61px;
  margin: 0px;
  border-right: 3px solid #29abe2;
  padding-right: 30px;
}

content h2 {
  font-weight: 400;
  font-size: 27px;
  margin: 0px;
}

content .headline {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  margin-left: 30px;
}

.hover:hover {
  background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
  border-radius: 10px;
}

header #helpIcon:hover {
  transform: scale(1.1);
}

header #headerInitials:hover {
  background-color: rgba(12, 46, 98, 0.12);
}

.editdelete a {
  display: flex;
  align-items: center;
  color: #2a3647;
  font-size: 16px;
  font-weight: 400;
}

.editdelete a:hover {
  color: #29abe2;
  font-size: 16px;
  font-weight: 700;
}

.editdelete img {
  border: none;
  box-shadow: none;
}

.editdelete img:hover {
  color: #29abe2;
}

.editdelete {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

nav a:hover {
  background-color: #091931;
}

mobile-footer,
mobile-header {
  display: none;
}

@media (max-width: 480px) {
  body {
    grid-template-areas:
      "mobile-header"
      "list"
      "mobile-footer";
    grid-template-columns: auto;
  }

  header,
  sidebar,
  content {
    display: none;
  }

  mobile-footer {
    grid-area: footer;
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    background-color: #2a3647;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  mobile-header {
    grid-area: mobile-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    padding: 20px 16px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001a;
  }

  body,
  list {
    overflow: visible;
  }
}
