/* CONTACTS PAGE */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Inter";
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 16px;
  background-color: white;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

header img {
  max-height: 40px;
}

.singleContactContainer {
  background-color: #f6f7f8;
  height: 80vh;
  padding: 48px 16px 0px 16px;
}

.singleContactContainer h2 {
  font-size: 47px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}

.upperHalf h2 {
  font-size: 47px;
  font-weight: 700;
  margin: 30px 0px 8px 0px;
}

.singleContactContainer h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 8px 0px;
}

.upperHalf h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 8px 0px;
}

.singleContactContainer h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}

.contactsHeadline {
  display: flex;
  justify-content: space-between;
}

.contactsHeadlineBox hr {
  /*border: 2px solid #29abe2;
  width: 50%;
  text-align: left;*/
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

.singleContact {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 8px;
}

.singleContact img {
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
}

.singleContact span {
  font-size: 36px;
  font-weight: 700;
}

.contactInfos span {
  font-size: 16px;
  font-weight: 400;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: #ff7a00;
  color: white;
  border-radius: 80px;
  font-size: 27px !important;
  font-weight: 400 !important;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.emailAdress {
  color: #007cee;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.phoneNumber {
  text-decoration: none;
  color: black;
}

.moreButton {
  position: fixed;
  cursor: pointer;
  bottom: 100px;
  right: 16px;
}

.infoItem {
  margin-top: 21px;
  font-size: 16px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 80px;
  background-color: #2a3647;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.innerContactEntry {
  display: flex;
  gap: 35px;
  padding: 8px 20px;
  align-items: center;
  font-size: 20px;
  height: 78px;
  box-sizing: border-box;
}

.nameAndAdress {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.initSmall {
  width: 42px;
  height: 42px;
  font-size: 12px !important;
}

#contactContainer {
  padding: 10px 40px;
  margin-bottom: 80px;
}

.upperHalf hr {
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

#contactContainer hr {
  /*border: 2px solid #29abe2;
  width: 50%;
  text-align: left;*/
  height: 3px;
  width: 90px;
  border-width: 0;
  color: #29abe2;
  background-color: #29abe2;
  align-self: flex-start;
  margin: 0;
}

.contactEntry {
  margin-bottom: 16px;
  cursor: pointer;
}

.lowerHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0px 16px;
  border-radius: 0px 0px 20px 20px;
  gap: 15px;
  height: 350px;
}

.newContactPic {
  background-color: #d1d1d1;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-top: -60px;
  border: 3px solid #ffffff;
}

.upperHalf {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  padding: 14px 24px;
  color: white;
  border-radius: 20px 20px 0px 0px;
  height: 250px;
}

.nameInput {
  background: url("../assets/img/contacts/person_small.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
}

.mailInput {
  background: url("../assets/img/contacts/mail.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
}

.phoneInput {
  background: url("../assets/img/contacts/call.png") no-repeat right;
  padding-right: 25px;
  background-size: 20px;
}

.lowerHalf form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.lowerHalf input {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 5px 13px;
  width: 364px;
}

/* The Modal (background) */
#modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
#modalAddContact {
  display: none;
  margin: 80px 10px;
  position: relative;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

/* Modal Content */
#modalEditContact {
  display: none;
  margin: 80px 10px;
  position: relative;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

/* Add Animation */
@keyframes slideIn {
  from {
    bottom: -500px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#moreButton {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff;
  width: 116px;
  height: 100px;
  padding: 10px 0px 0px 20px;
  gap: 10px;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: fixed;
  bottom: 100px;
  right: 20px;
  animation-name: slideInFromRight;
  animation-duration: 0.5s;
}

@keyframes slideInFromRight {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 20;
    opacity: 1;
  }
}

#moreButton a {
  cursor: pointer;
}

#editInitials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  color: white;
  border-radius: 180px;
  font-size: 27px !important;
  font-weight: 400 !important;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  margin-top: -40px;
}

.seperatorLetter {
  border-bottom: 1px solid #d1d1d1;
  font-size: 20px;
  height: 58px;
  padding: 17px 36px 17px 36px;
  box-sizing: border-box;
}

#createContactButton {
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 51px;
  padding: 18px 10px 18px 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
  border: none;
}

.upperHalf span {
  text-align: right;
  font-size: xx-large;
  cursor: pointer;
}

a {
  cursor: pointer;
}