/* Summary */

.join360HeadlineSummaryContainerDesk {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 50px;
}

.join360HeadlineSummaryContainerMobile {
  margin-bottom: 50px;
}

.summaryBoxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*padding-left: 50px;*/
}

.iconsSummary {
  height: 40px;
  width: 40px;
  background-size: cover;
}

.numbersSummary {
  font-size: 50px;
  font-weight: 600;
}

.textSummary {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  white-space: normal;
}

.textSummaryUrgentDate {
  font-weight: 700;
  margin: 0;
  font-size: 17px;
}

.numberAndTextBoxSummary {
  text-align: center;
}

.join360HeadlineSummary {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  padding-left: 50px;
}

.secondHeadlineSummary {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  padding-left: 50px;
}

.secondHeadlineSummaryDesk {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.underlineSecondHeadlineSummary {
  text-decoration: underline;
  text-decoration-color: rgba(41, 171, 226, 1);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  margin-top: 10px;
  text-underline-offset: 20px;
}

.iconPencil {
  background-image: url(../assets/img/iconPencil.png);
}

.boxMediumSummary:hover .iconPencil {
  background-image: url(../assets/img/pencilDark.png);
  background-repeat: no-repeat;
}

.iconCheck {
  background-image: url(../assets/img/iconCheck.png);
}

.boxMediumSummary:hover .iconCheck {
  background-image: url(../assets/img/checkDark.png);
  background-repeat: no-repeat;
}

.iconArrows {
  background-image: url(../assets/img/iconArrows.png);
}

.boxUrgent:hover .iconArrows {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
}

/* erste Reihe */

.firstRowSummaryBoxes {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
  height: 168px;
}

.boxMediumSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 20px;
  width: 190px;
  gap: 10px;
  background-color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.boxMediumSummary:hover {
  background-color: #2a3747;
  color: white;
  transform: scale(1.05);
  z-index: 10;
}

/* zweite Reihe */

.secondRowSummaryBoxes {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 168px;
}

.boxUrgent {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.boxUrgent:hover {
  background-color: #2a3747;
  color: white;
  transform: scale(1.05);
  z-index: 10;
}

.greyLineUrgentBox {
  height: 70px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.blueLineUrgentBox {
  height: 60px;
  border: 1px solid rgba(41, 171, 226, 1);
}

/* dritte Reihe */

.thirdRowSummaryBoxes {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 170px;
}

.boxSmallSummary {
  width: 120px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.boxSmallSummary:hover {
  background-color: #2a3747;
  color: white;
  transform: scale(1.05);
  z-index: 10;
}

/* Welcome Screen Desk-Version*/

.welcomeScreenSummaryDeskVersion {
  /*height: 400px;
  width: 400px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}

.welcomeScreenSummaryDeskVersionHeadline {
  font-size: 60px;
  font-weight: 500;
  color: rgba(42, 54, 71, 1);
  margin: 0;
}

/* CHRISTOPH */
#loggedInUserName {
  color: #29abe2;
  font-weight: 700;
  font-size: 64px;
}

.lowerHalf {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.leftSide {
  /*padding-left: 20px;*/
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lowerHalf {
  margin-top: 56px;
}

/* Responsive Summary bis 320px */

@media (max-width: 430px) {
  .boxMediumSummary {
    width: 170px;
  }

  .boxUrgent {
    width: 360px;
  }

  .boxSmallSummary {
    width: 110px;
  }
}

@media (max-width: 670px) {
  .boxMediumSummary {
    width: 150px;
  }

  .boxUrgent {
    width: 320px;
  }

  .boxSmallSummary {
    width: 95px;
  }
}

@media (max-width: 405px) {
  .boxMediumSummary {
    width: 130px;
  }

  .boxUrgent {
    width: 280px;
  }

  .boxSmallSummary {
    width: 85px;
  }

  .summaryBoxContainer {
    padding-left: 16px;
  }

  .join360HeadlineSummary {
    padding-left: 16px;
  }

  .secondHeadlineSummary {
    padding-left: 16px;
  }
}

/* Responsive bis 1440px*/

@media (min-width: 820px) {
  .welcomeScreenSummaryDeskVersion {
    display: flex;
  }
  .join360HeadlineSummaryContainerDesk {
    display: flex;
  }
  .join360HeadlineSummaryContainerMobile {
    display: none;
  }
}

@media (max-width: 980px) {
  .rightSide {
    display: none;
  }
}

@media (max-width: 720px) {
  .summaryBoxContainer {
    padding-left: 0px;
  }

  .join360HeadlineSummary {
    padding-left: 20px;
  }

  .secondHeadlineSummary {
    padding-left: 20px;
  }
}
